body {
  position: relative;
  background-color: #85856E;
  background-size: cover;
  text-align: center;
  margin: 0;
 
}

h1{
  color: #C7AEA7;
  font-size: 50px;
  font-family: 'Creepster', cursive;

}

#image{
  width: 50%;
  border-radius: 25px;
}

.container{
  background-color: #6D180A;
  font-family: 'Creepster', cursive;
  background-position: center right;
  width: 80%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 300px;
  border: solid 5px #6D180A;
  border-radius: 25px;
}

p {

    color: #C7AEA7;
    font-size: 30px;
    font-family: 'Creepster', cursive;
  }

  .mainFooter {

    color: #C7AEA7;
    font-size: 30px;
    font-family: 'Creepster', cursive;
    background-color: #6D180A;
    border-top: #110503 solid;
    text-align: center;
    position: fixed;
    width:100%;
    top:auto;
    bottom:0px;
}
  